@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@font-face {
    font-family: 'Conv_MyriadPro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_MyriadPro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    padding-top: 20px;
    font-family: 'Conv_MyriadPro';
    width: 100%;
    height: 900px;
    background: url('../images/back_dark.png') 0 70%/auto 90% no-repeat,
    url('../images/back2_dark.png') 100% 90%/auto 90% no-repeat #212121;
}

a.button {
    background: #9b7c6e;
    display: inline-block;
    color: #f9f9f9;
    font-size: 30px;
    text-decoration: none;
    user-select: none;
    padding: .3em 0.7em;
    outline: none;
    transition: 0.2s;
    border-radius: 25px;
}

a.button:hover {
    background: rgba(135, 135, 135, .4);
}

a.button:active {
    background: white;
}

button.button {
    background: #9b7c6e;
    display: inline-block;
    color: #f9f9f9;
    font-size: 30px;
    text-decoration: none;
    user-select: none;
    padding: .3em 0.7em;
    outline: none;
    transition: 0.2s;
    border-radius: 25px;
    border: 0;
}

button.button:hover {
    background: rgba(135, 135, 135, .4);
}

button.button:active {
    background: white;
}

#login {
    font-size: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    font-size: 25px;
    color: #9b7c6e;
    text-align: center;
}

.card {
    margin-top: 100px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.card-body {
    padding-left: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #9b7c6e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #9b7c6e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*********************************/
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #212121;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #9b7c6e;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}
