@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
th{
    background-color: #718096;
    color:whitesmoke;
}
button{
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.footer{
    position: absolute;
    bottom: 0;
}
#example-table{
    margin-top: 10px;
    border-radius: 30px;
}
#example-table-theme .tabulator-header .tabulator-col {
    background-color: #d9d9da;
    color:#fff;
}
#example-table-theme .tabulator-header{
    background-color: #d9d9da;
}
